<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Todo list</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}"/>
</head>
<body>
<div class="col-md-4">
    <h1>Todos</h1>
</div>
<div class="col-md-4">
    <h3 th:inline="text">Welcome [[${#httpServletRequest.remoteUser}]]</h3>
</div>
<div class="col-md-4" style="padding:20px 0">
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out" class="btn btn-danger"/>
    </form>
</div>
<table class="table table-striped">
    <tr>
        <th>Description</th>
        <th>Status</th>
        <th>CreatedDate</th>
        <th>CreatedBy</th>
    </tr>
    <tr th:each="todo : ${todolist}">
        <td th:text="${todo.description}"></td>
        <td th:text="${todo.status}"></td>
        <td th:text="${#dates.format(todo.createdDate, 'dd-MMM-yyyy hh:mm')}"></td>
        <td th:text="${todo.createdBy}"></td>
    </tr>
</table>
<a href="/add" class="btn btn-primary">Add Todo</a>
</body>
</html>